@page
@model zeaploy.Pages.Account.AccessDeniedModel
@{
}

<div class="text-center">
    <img class="w-25 p-3" src="~/assets/access-denied.png"/>
    <hr />
    <h1 class="display-4">ERROR: 403</h1>
    <h3>You do not have sufficient permissions to access this page.</h3>
    <h6>If you believe this is a mistake please contact the page administrator.</h6>
</div>