html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width:120px;
}

.ad-container {
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/spikes.png);
    width: 75%;
    padding: 12px;
    margin-bottom: 20px;
}

.ad-box-margin {
    top: 20px;
}

body {
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.job-card {
    background: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.job-card__content {
    padding: 25px;
}

.job-card__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

    .job-card__content-top .job-card_img {
        margin-right: 25px;
    }

        .job-card__content-top .job-card_img img {
            height: 50px;
            width: 50px;
            object-fit: contain;
            border-radius: 8px;
        }

    .job-card__content-top .job-card_info {
        flex: 1;
    }

        .job-card__content-top .job-card_info a {
            color: #113357;
        }

.job-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background: #fafafa;
}
 
.job-label {
    display: inline-block;
    padding: 6px 12px;
    background: #f1f4f7;
    border-radius: 5px;
    margin-right: 2px;
    margin-top: 15px;
}

/*Login and register*/
.wrapper {
    max-width: 450px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #cbced1;
}

.loginLogo {    
    width: 300px;
    margin: auto;
}

    .loginLogo img {
        width: 100%;
        height: 100px;
        object-fit: fill;
    }

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

.wrapper .form-field {
    padding-left: 10px; 
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

    .wrapper a:hover {
        color: #039BE5;
    }

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}
.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
